.episode{
    border-bottom: solid 2px #e4d1ec;
    border-left: solid 1px #7a568b;
    background-color: #7a568b;
    font-size: medium;
    color: #e4d1ec;
}
.episode:hover{
    background-color: #e4d1ec;
    color: #7a568b;
}
.episodes{
    position: relative;
    height: 409PX;
    overflow-y: scroll;
}

/* width */
.episodes::-webkit-scrollbar {
    width: 5px;
  }
  
/* Track */
.episodes::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

/* Handle */
.episodes::-webkit-scrollbar-thumb {
background: #EDEDED; 
border-radius: 10px;
}

/* Handle on hover */
.episodes::-webkit-scrollbar-thumb:hover {
background: #6d6d6d; 
}

.ep-button{
    border: solid 2px #937c9c;
    border-radius: 20px;
    background-color: #7a568b;
    font-size: medium;
    color: #e4d1ec;
    width: 10%;
}
.ep-button:hover{
    background-color: #4c3657;
    border: solid 2px #6e4c7e;
}

.watch-section{
    background-image:url("../../../Image/watchBg.jpg") ;
    background-size:cover ;
    background-repeat: no-repeat;
    }